/* reset styling */
// html { box-sizing: border-box; }
// *, *:before, *:after { box-sizing: inherit; }
body { margin: 0; padding: 0; }
a { padding: 0; margin: 0; text-decoration: none; }
a:hover { text-decoration: none; }
.left { float: left; }
.right { float: right; }
img { border: none; }
h1, h2, h3, h4, h5, p { padding: 0; margin: 0; font-weight: normal; }
ul, ol, li { padding: 0; margin: 0; }
input, textarea, fieldset { border: none; padding: 0; margin: 0; }

body, html { width: 100%; }

a[href^=tel] { color: inherit; text-decoration: none; }
::-webkit-inner-spin-button,
::-webkit-outer-spin-button,
::-webkit-inner-spin-button, 
::-webkit-outer-spin-button {  -webkit-appearance: none; margin: 0; display: none; }
input[type=number],
input[type=date] { -moz-appearance: textfield; }
select { cursor: pointer; }

input::-ms-clear { display: none; }
select::-ms-expand { display: none; }

.show { display: block; }
.hide { display: none; }