@font-face {
	font-family: BentonSans;
	src: url(../fonts/BentonSans/BentonSans_Regular/9dd13d5e-16d1-4589-be11-055b6eaf1640-2.eot);
	src: url(../fonts/BentonSans/BentonSans_Regular/9dd13d5e-16d1-4589-be11-055b6eaf1640-2.eot?#iefix) format("embedded-opentype"),
	url(../fonts/BentonSans/BentonSans_Regular/9dd13d5e-16d1-4589-be11-055b6eaf1640-3.woff) format("woff"),
	url(../fonts/BentonSans/BentonSans_Regular/9dd13d5e-16d1-4589-be11-055b6eaf1640-1.ttf) format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: BentonSansLight;
	src: url(../fonts/BentonSans/Benton-Sans-Light/6e94a098-a052-470e-882d-76128cc85d4d-2.eot);
	src: url(../fonts/BentonSans/Benton-Sans-Light/6e94a098-a052-470e-882d-76128cc85d4d-2.eot?#iefix) format("embedded-opentype"),
	url(../fonts/BentonSans/Benton-Sans-Light/6e94a098-a052-470e-882d-76128cc85d4d-3.woff) format("woff"),
	url(../fonts/BentonSans/Benton-Sans-Light/6e94a098-a052-470e-882d-76128cc85d4d-1.ttf) format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: BentonSansMedium;
	src: url(../fonts/BentonSans/BentonSans_Medium/4e9d06a7-c74a-4ad4-9f9b-8676e475d738-2.eot);
	src: url(../fonts/BentonSans/BentonSans_Medium/4e9d06a7-c74a-4ad4-9f9b-8676e475d738-2.eot?#iefix) format("embedded-opentype"),
	url(../fonts/BentonSans/BentonSans_Medium/4e9d06a7-c74a-4ad4-9f9b-8676e475d738-3.woff) format("woff"),
	url(../fonts/BentonSans/BentonSans_Medium/4e9d06a7-c74a-4ad4-9f9b-8676e475d738-1.ttf) format("truetype");
	font-style: normal;
	font-weight: normal;
}

// this is a duplicate of `BentonSansMedium` 
// so that inline styles like <p style="font-weight: bold">bold</p>
// renders the bold font `BentonSansMedium`
@font-face {
	font-family: BentonSansBook;
	src: url(../fonts/BentonSans/BentonSans_Medium/4e9d06a7-c74a-4ad4-9f9b-8676e475d738-2.eot);
	src: url(../fonts/BentonSans/BentonSans_Medium/4e9d06a7-c74a-4ad4-9f9b-8676e475d738-2.eot?#iefix) format("embedded-opentype"),
	url(../fonts/BentonSans/BentonSans_Medium/4e9d06a7-c74a-4ad4-9f9b-8676e475d738-3.woff) format("woff"),
	url(../fonts/BentonSans/BentonSans_Medium/4e9d06a7-c74a-4ad4-9f9b-8676e475d738-1.ttf) format("truetype");
	font-style: bold;
	font-weight: bold;
}

@font-face {
	font-family: BentonSansBook;
	src: url(../fonts/BentonSans/Benton-Sans-Book/edf3d52d-377e-47b4-b753-eb5a2fe785a1-2.eot);
	src: url(../fonts/BentonSans/Benton-Sans-Book/edf3d52d-377e-47b4-b753-eb5a2fe785a1-2.eot?#iefix) format("embedded-opentype"),
	url(../fonts/BentonSans/Benton-Sans-Book/edf3d52d-377e-47b4-b753-eb5a2fe785a1-3.woff) format("woff"),
	url(../fonts/BentonSans/Benton-Sans-Book/edf3d52d-377e-47b4-b753-eb5a2fe785a1-1.ttf) format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: BentonSansComp;
	src: url(../fonts/BentonSans/BentonSansComp_Regular/f96318e2-3d4a-4c93-9d89-639f29fde1a8-2.eot);
	src: url(../fonts/BentonSans/BentonSansComp_Regular/f96318e2-3d4a-4c93-9d89-639f29fde1a8-4.svg) format('svg'),
	url(../fonts/BentonSans/BentonSansComp_Regular/f96318e2-3d4a-4c93-9d89-639f29fde1a8-3.woff) format("woff"),
	url(../fonts/BentonSans/BentonSansComp_Regular/f96318e2-3d4a-4c93-9d89-639f29fde1a8-1.ttf) format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: BentonSansCompMedium;
	src: url(../fonts/BentonSans/BentonSansComp_Medium/9de9b38e-72e8-4bbe-8a55-41d45f48efaa-2.eot);
	src: url(../fonts/BentonSans/BentonSansComp_Medium/9de9b38e-72e8-4bbe-8a55-41d45f48efaa-4.svg) format('svg'),
	url(../fonts/BentonSans/BentonSansComp_Medium/9de9b38e-72e8-4bbe-8a55-41d45f48efaa-3.woff) format("woff"),
	url(../fonts/BentonSans/BentonSansComp_Medium/9de9b38e-72e8-4bbe-8a55-41d45f48efaa-1.ttf) format("truetype");
	font-style: normal;
	font-weight: normal;
}