body>header form {
	width: auto;
}

header nav>ul:first-child li~li {
	width: 25%;
}

header nav>ul~ul span {
	display: none;
}

button.hello-angel {
	width: 40px;
	float: left;
	margin-right: 10px;
	position: relative;
	top: 7px;
	text-indent: -10000px;
	background: url("../images/helloangel-icon.png") no-repeat center center;
	background-size: cover;
	width: 35px;
	height: 25px;
	cursor: pointer;

	@media (max-width: 600px) {
		position: absolute;
		top: 10px;
		left: 10px;
	}
}

div.angel-overlay {
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 200;
	background: rgba(0,0,0,.5);
}

section.angel-results {
	margin: 25px auto;
	width: 100%;
	max-width: 1120px;

	p {
		text-transform: capitalize;
	}
}

#map {
	width: 100%;
	min-height: 500px;
}

#product_options {
	width: 80%;
	margin: 0 10%;

	select {
		width: 20%;
		background: #fff;
		height: auto;
		float: left;
		margin: 0 5% 0 0;

		&:last-child {
			margin-right: 0;
		}
	}

	&:after {
		content: "";
		clear: both;
		display: block;
	}
}

#angelsearchresults {
	margin-top: 15px;

	&:after {
		content: "";
		clear: both;
		display: block;
	}

	.store-info {
		width: 50%;
		float: left;
	}

	h4 {
		margin-top: 10px;
	}
}


#products {

	&:after {
		content: "";
		clear: both;
		display: block;
	}

	.product {
		width: 25%;
		padding: 0 10px;
		box-sizing: border-box;
		float: left;

		@media (max-width: 600px) {
			width: 50%
		}
	}

}

section.helloangel {
	display: none;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	color: #000;
    background: #fff url(https://dm-test-005.lbidts.com/resources/build/43984432f78c2e112969a6b8ba3fd5cc0ec29586/img/checkout/olps/bg.jpg) no-repeat;
    background-position: -50px top;
	width: 50vw;
	height: 80vh;
	z-index: 201;
	padding: 50px 50px 50px 30%;
	box-sizing: border-box;

	@media (max-width: 600px) {
		background: #fff;
		width: 100vw;
		height: 100vh;
		padding: 50px;
	}

	#start_img {
		display: none;
	}

	button.angel-listen {
		background: #fff url("../images/helloangel.png") no-repeat center center;
		background-size: 60px auto;
		width: 100px;
		height: 100px;
		position: relative;
		text-indent: -10000px;
		padding: 50px;
		border: 2px solid #000;
		border-radius: 100%;
		cursor: pointer;
		position: relative;
		outline: none;
		margin: 25px auto 10px;

		&.recording {
			border-color: #ef5f96;
			outline: none;

			&:before {
				content: "";
				width: 0;
				height: 0;
				position: absolute;
				border-radius: 100%;
				z-index: 0;
				background: #ef5f96;
				border-radius: 100%;
				animation: pulseLive 1.2s ease-in infinite normal;
				z-index: -1;
			}
		}
	}

	.close-angel {
		position: absolute;
		top: 20px;
		right: 20px;
		text-indent: -10000px;
		cursor: pointer;
		background-position: -1144px -792px;
	    background-image: url(https://dm.victoriassecret.com/resources/build/e0e1e642b7e85a9a855f005ae19e7f533273ffc2/fabric/img/elements/icon/fab-icon-desktop.png);
	    background-size: 1338px 1239px;
	    background-repeat: no-repeat;
	    overflow: hidden;
	    width: 18px;
	    height: 18px;
	    background-origin: content-box;
	    padding: 0;
	}

	p.disclaimer {
		font-style: italic;
		font-size: 10px;
	}
}

@keyframes pulseLive {
  0% {
    width: 100px;
    height: 100px;
    left: 0;
    top: 0px;
    opacity: 1.0; }
  25% {
    width: 110px;
    height: 110px;
    left: -5px;
    top: -5px;
    opacity: 1.0; }
  75% {
    width: 120px;
    height: 120px;
    left: -10px;
    top: -10px;
    opacity: .75; }
  100% {
    width: 130px;
    height: 130px;
    left: -15px;
    top: -15px;
    opacity: 0; }
}