{{#if data.desktop}}

<section id="wrapper">
    <section id="content" itemprop="mainContentOfPage">
		<section id="main" itemscope itemtype="http://schema.org/Thing">
	<div id="f1267548245975"
			itemscope itemtype="http://schema.org/Thing">
		<div class="mf f580x1180 map">
			<span>
				<em></em>
					
				
				<img class="ftr "
					src="//dm.victoriassecret.com/imagefeatures/1180x580/1267548245975/092815-home-ftr.jpg"
					alt="" itemprop="image" />
					
				
			</span>
			<!-- pathII..../popups/1267546039891  -->
				<a 
					
					
					
					
						class="l0  "
					
				    
				    itemprop="url"

					name="TOP NAVIGATION: MAIN FEATURE1"

					
						href="/popups/1267546039891"
					

					title="Last Day! Free Shipping on $50. Priced in USD. Code SHIP50. Click for details."

					
						data-modal="small"
					

					

					
					
					style="position: absolute; top: 12.931034%; left: 78.13559%; width: 20.338982%; height: 50.86207%; z-index: 3;"
				>&nbsp;</a>

				
					
						
					
					
				
			
			
			
			
		
			
			
			
			
			
			

			

			

			

			
				
					
				
				
			

			
			<!-- pathII..../bras/so-obsessed  -->
				<a 
					
					
					
					
						class="l1  "
					
				    
				    itemprop="url"

					name="TOP NAVIGATION: MAIN FEATURE2"

					
						href="/bras/so-obsessed"
					

					title="New! So Obsessed. The Add 1 1/2 Cup Push-Up"

					
						
					

					

					
					
					style="position: absolute; top: 0.0%; left: 0.0%; width: 100.0%; height: 100.0%; z-index: 2;"
				>&nbsp;</a>

				
					
						
					
					
				
			
			
			
			
		
	</div>
	</div>
		</section>

		<ul class="group-row">

			<li id="f1267546406229"
				itemscope
				itemtype="http://schema.org/Thing">
							
							<a name="TOP NAVIGATION: FEATURE1" class="dsf f617x570 "   
								href="/victorias-secret-sport/sports-bras" itemprop="url" title="World&#39;s Best Sport Bras">
				<span>
					<em></em>
					
					 
					
					<img
						src="//dm.victoriassecret.com/imagefeatures/570x617/1267546406229/092615-home-sport.jpg"
						alt="World&#39;s Best Sport Bras" title="World&#39;s Best Sport Bras" itemprop="image" class="ftr ">
						
					
					
				</span>
						</a>
			
			<li id="f1267546392284"
				itemscope
				itemtype="http://schema.org/Thing">
							
							<a name="TOP NAVIGATION: FEATURE2" class="dsf f617x590 "   
								href="/bras/body-by-victoria-collection" itemprop="url" title="New! Body By Victoria">
				
				<span>
					<em></em>
					
					 
					
					<img
						src="//dm.victoriassecret.com/imagefeatures/590x617/1267546392284/092615-home-BBV.jpg"
						alt="New! Body By Victoria" title="New! Body By Victoria" itemprop="image" class="ftr ">
				</span>
						</a>
			<li id="f1267549564326"
				itemscope
				itemtype="http://schema.org/Thing">
							<a name="TOP NAVIGATION: FEATURE3" class="dsf f522x398 "   
								href="/sleepwear/most-loved-pj-shop" itemprop="url" title="Most-Loved PJ&#39;s">

				<span>
					<em></em>
					<img
						src="//dm.victoriassecret.com/imagefeatures/398x522/1267549564326/092815-home-sub-pjs.jpg"
						alt="Most-Loved PJ&#39;s" title="Most-Loved PJ&#39;s" itemprop="image" class="ftr ">
				</span>
						</a>
			<li id="f1267549565626"
				itemscope
				itemtype="http://schema.org/Thing">


		  

			
				
				
				
				
					


























			
				
			
			






			
			
				







			
			
				
					
					
					
				
				
					
					
							
							
							<a name="TOP NAVIGATION: FEATURE4" class="dsf f522x762 "   
								href="/clothing/sale-and-specials" itemprop="url" title="Up To 30% Off On Over 120 Styles: Shop Clothing Sale &amp; Specials">
						
							
							
						
					
					
				
				<span>
					<em></em>
					
					 
					
					<img
						src="//dm.victoriassecret.com/imagefeatures/762x522/1267549565626/092815-home-sub-clothing.jpg"
						alt="Up To 30% Off On Over 120 Styles: Shop Clothing Sale &amp; Specials" title="Up To 30% Off On Over 120 Styles: Shop Clothing Sale &amp; Specials" itemprop="image" class="ftr ">
						
					
					
				</span>
		        
						  
						
							
							
								
							
						
						
		        
						
		        
						
		        
				
					
						</a>
					
					
				
				
			

				
				
				
				
				
				
		        
			
		 



				
				
			
			
				
			
			<li id="f1267546419939"
				itemscope
				itemtype="http://schema.org/Thing">


		  

			
				
				
				
				
					


























			
				
			
			






			
			
				







			
			
				
					
					
					
				
				
					
					
							
							
							<a name="TOP NAVIGATION: FEATURE5" class="dsf f471x697 "   
								href="/pink/new-arrivals" itemprop="url" title="PINK: New! Limited Edition Gym Pant. Shop New Arrivals">
						
							
							
						
					
					
				
				<span>
					<em></em>
					
					 
					
					<img
						src="//dm.victoriassecret.com/imagefeatures/697x471/1267546419939/01-092615-home_sub-pink-v2.jpg"
						alt="PINK: New! Limited Edition Gym Pant. Shop New Arrivals" title="PINK: New! Limited Edition Gym Pant. Shop New Arrivals" itemprop="image" class="ftr ">
						
					
					
				</span>
		        
						  
						
							
							
								
							
						
						
		        
						
		        
						
		        
				
					
						</a>
					
					
				
				
			

				
				
				
				
				
				
		        
			
		 



				
				
			
			
				
			
			<li id="f1267529286290"
				itemscope
				itemtype="http://schema.org/Thing">


		  

			
				
				
				
				
					


























			
				
			
			






			
			
				







			
			
				
					
					
					
				
				
					
					
							
							
							<a name="TOP NAVIGATION: FEATURE6" class="dsf f471x463 "   
								href="/beauty/fragrance" itemprop="url" title="Victoria&#39;s Secret Forever Sexy: Shop All Fragrance">
						
							
							
						
					
					
				
				<span>
					<em></em>
					
					 
					
					<img
						src="//dm.victoriassecret.com/imagefeatures/463x471/1267529286290/092615-home-sub-beauty-v2.jpg"
						alt="Victoria&#39;s Secret Forever Sexy: Shop All Fragrance" title="Victoria&#39;s Secret Forever Sexy: Shop All Fragrance" itemprop="image" class="ftr ">
						
					
					
				</span>
		        
						  
						
							
							
								
							
						
						
		        
						
		        
						
		        
				
					
						</a>
					
					
				
				
			

				
				
				
				
				
				
		        
			
		 



				
				
			
			
				
			
			<li id="f1267533154140"
				itemscope
				itemtype="http://schema.org/Thing">


		  

			
				
				
				
				
					


























			
				
			
			






			
			
				







			
				<div id="f1267533154140"
						itemscope itemtype="http://schema.org/Thing">
					<div class="dsf f162x1180 map">
						<span>
							<em></em>
								
							
							<img class="ftr "
								src="//dm.victoriassecret.com/imagefeatures/1180x162/1267533154140/092115-home-ac-bnr-freeship.jpg"
								alt="" itemprop="image" />
								
							
						</span>
					
					

					
					
					
						
						
						
						
						
						

						

						

						

						
							
							
								
							
						

						
						<!-- pathII..../angel-card  -->
							<a 
								
								
								
								
									class="l0  "
								
							    
							    itemprop="url"

								name="TOP NAVIGATION: FEATURE7"

								
									href="/angel-card"
								

								title="The All New Angel Card is Here! Your Perks Just Got Even Better. Now get free shipping on orders that include a bra, all year long! Click to learn more."

								
									
								

								

								
								
								style="position: absolute; top: 67.90124%; left: 68.220345%; width: 9.915255%; height: 19.753086%; z-index: 4;"
							>&nbsp;</a>

							
								
								
									
								
							
						
						
						
						
					
						
						
						
						
						
						

						

						

						

						
							
							
								
							
						

						
						<!-- pathII....javascript:window.open(&#039;https://c.comenity.net/victoriassecret/public/apply/ApplyIntro.xhtml?CMP=WEB:100112_APPLY_EARLY_REWARDS/&#039;);void(0);  -->
							<a 
								
								
								
								
									class="l1  "
								
							    
							    itemprop="url"

								name="TOP NAVIGATION: FEATURE8"

								
									href="javascript:window.open('https://c.comenity.net/victoriassecret/public/apply/ApplyIntro.xhtml?CMP=WEB:100112_APPLY_EARLY_REWARDS/');void(0);"
								

								title="The All New Angel Card is Here! Your Perks Just Got Even Better. Now get free shipping on orders that include a bra, all year long! Click to apply now."

								
									
								

								

								
								
								style="position: absolute; top: 69.75309%; left: 59.23729%; width: 9.067797%; height: 20.37037%; z-index: 3;"
							>&nbsp;</a>

							
								
								
									
								
							
						
						
						
						
					
						
						
						
						
						
						

						

						

						

						
							
							
								
							
						

						
						<!-- pathII..../angel-card  -->
							<a 
								
								
								
								
									class="l2  "
								
							    
							    itemprop="url"

								name="TOP NAVIGATION: FEATURE9"

								
									href="/angel-card"
								

								title="The All New Angel Card is Here! Your Perks Just Got Even Better. Now get free shipping on orders that include a bra, all year long! Click to learn more."

								
									
								

								

								
								
								style="position: absolute; top: 0.0%; left: 0.0%; width: 100.0%; height: 100.0%; z-index: 2;"
							>&nbsp;</a>

							
								
								
									
								
							
						
						
						
						
					
				</div>
				</div>
		</ul>
    </section>
</section>
<section id="offer-spotlight">
	<div class="wrapper">
		<div class="header-spacer">
			<div class="header ">
				<div class="mask"></div>
				<div class="content">
					<div href="#">
						<h3>
							<i class="smallIcon"></i>
							<span class="title">Today's Offers</span>
                            
						</h3>
					</div>
					<p>Select from the codes below and we'll automatically enter them in <a href="/commerce2/checkout">Checkout</a>.</p>
					
				</div>
			</div>
		</div>

		<ul class="offers">
		
			

				<li id="f1267546310090" itemscope itemtype="http://schema.org/Offer">
					


  

	
		
		
		
		
			


























	
		
	
	



	
	


	
	



	
	
		



    





	
	
		
			
			
			
		
		
			
			
					
					<a name="LANDING PAGE: MAIN FEATURE3" class=" f221x392 " data-modal='small'  
						href="/popups/1267546039891" itemprop="url" title="Ends Monday! Free Shipping on $50. Priced in USD. CODE SHIP50. Click for details.">
				
					
					
					
				
			
			
		
		<span>
			<em></em>
			
			 
			
			<img
				src="//dm.victoriassecret.com/imagefeatures/392x221/1267546310090/092515-LTOs-OS-FS.jpg"
				alt="Ends Monday! Free Shipping on $50. Priced in USD. CODE SHIP50. Click for details." title="Ends Monday! Free Shipping on $50. Priced in USD. CODE SHIP50. Click for details." itemprop="image" class="ftr ">
				
			
			
		</span>
        
				  
				
					
					
						
						<h4>
							<em data-href="/popups/1267546039891" class='' data-modal='small' name="LANDING PAGE: MAIN FEATURE1267546310090" title="Ends Monday! Free Shipping on $50. Priced in USD. CODE SHIP50. Click for details."></em>
						</h4>
						
					
				
				
        
				
        
				
        
		
			
				</a>
			
			
		
		
	

		
		
		
		
		
		
        
	


					<div class="controls">
						<div class="codes">
						
							
								
                                    
                                    
                       				
										
											<a class="check">
												<em></em>
												<span class="fab-h7" itemprop="name" data-offer="SHIP50">SHIP50</span>
											</a>
										
									
								
							
							
						
						</div>
						
						<a class="details" href="/popups/1267546039891" data-modal="small">
							<span>DETAILS</span> <div class="fab-ico--arrow-right"></div>
						</a>
						
					</div>
				</li>
			
		
			

				<li id="f1267542024925" itemscope itemtype="http://schema.org/Offer">
					


  

	
		
		
		
		
			


























	
		
	
	



	
	




	
	
		







	
	
		
			
			
			
		
		
			
			
					
					
					<a name="LANDING PAGE: FEATURE10" class=" f221x392 "   
						href="/beauty/fragrance" itemprop="url" title="Ends Monday! Free Full-Size Forever Sexy Lotion with Any Eau de Parfum Purchase of 1.7 Oz or Larger. Excludes clearance. Click to shop all Fragrance.">
				
					
					
				
			
			
		
		<span>
			<em></em>
			
			 
			
			<img
				src="//dm.victoriassecret.com/imagefeatures/392x221/1267542024925/092215-OS-lotion.jpg"
				alt="Ends Monday! Free Full-Size Forever Sexy Lotion with Any Eau de Parfum Purchase of 1.7 Oz or Larger. Excludes clearance. Click to shop all Fragrance." title="Ends Monday! Free Full-Size Forever Sexy Lotion with Any Eau de Parfum Purchase of 1.7 Oz or Larger. Excludes clearance. Click to shop all Fragrance." itemprop="image" class="ftr ">
				
			
			
		</span>
        
				  
				
					
					
						
						<h4>
							<em data-href="/popups/1267541984416" class='' data-modal='small' name="LANDING PAGE: FEATURE1267542024925" title="Ends Monday! Free Full-Size Forever Sexy Lotion with Any Eau de Parfum Purchase of 1.7 Oz or Larger. Excludes clearance. Click to shop all Fragrance."></em>
						</h4>
						
					
				
				
        
				
        
				
        
		
			
				</a>
			
			
		
		
	

		
		
		
		
		
		
        
	


					<div class="controls">
						<div class="codes">
						
							
								
                                    
                                    
                       				
										
											<a class="check">
												<em></em>
												<span class="fab-h7" itemprop="name" data-offer="SEXYSCENT">SEXYSCENT</span>
											</a>
										
									
								
							
							
						
						</div>
						
						<a class="details" href="/popups/1267541984416" data-modal="small">
							<span>DETAILS</span> <div class="fab-ico--arrow-right"></div>
						</a>
						
					</div>
				</li>
			
		
			

				<li id="f1267543812596" itemscope itemtype="http://schema.org/Offer">
					


  

	
		
		
		
		
			


























	
		
	
	



	
	




	
	
		







	
	
		
			
			
			
		
		
			
			
					
					
					<a name="LANDING PAGE: FEATURE11" class="ssf f221x392 "   
						href="/pink/free-scarf-and-beanie-with-65-pink-purch/beanie-scarf-pink?ProductID=265212&amp;CatalogueType=OLS" itemprop="url" title="Ends Monday! Free Scarf and Beanie with Any $65 USD PINK Purchase. Choose from 3 colors. Excludes clearance. Code BEANIEBUNDLE. Click to get it now.">
				
					
					
				
			
			
		
		<span>
			<em></em>
			
			 
			
			<img
				src="//dm.victoriassecret.com/imagefeatures/392x221/1267543812596/11-092415-pnk-lto-beanie-offer-spot-desktop.jpg"
				alt="Ends Monday! Free Scarf and Beanie with Any $65 USD PINK Purchase. Choose from 3 colors. Excludes clearance. Code BEANIEBUNDLE. Click to get it now." title="Ends Monday! Free Scarf and Beanie with Any $65 USD PINK Purchase. Choose from 3 colors. Excludes clearance. Code BEANIEBUNDLE. Click to get it now." itemprop="image" class="ftr ">
				
			
			
		</span>
        
				  
				
					
					
						
						<h4>
							<em data-href="/popups/1267543335525" class='' data-modal='small' name="LANDING PAGE: FEATURE1267543812596" title="Ends Monday! Free Scarf and Beanie with Any $65 USD PINK Purchase. Choose from 3 colors. Excludes clearance. Code BEANIEBUNDLE. Click to get it now."></em>
						</h4>
						
					
				
				
        
				
        
				
        
		
			
				</a>
			
			
		
		
	

		
		
		
		
		
		
        
	


					<div class="controls">
						<div class="codes">
						
							
								
                                    
                                    
                       				
										
											<a class="check">
												<em></em>
												<span class="fab-h7" itemprop="name" data-offer="BEANIEBUNDLE">BEANIEBUNDLE</span>
											</a>
										
									
								
							
							
						
						</div>
						
						<a class="details" href="/popups/1267543335525" data-modal="small">
							<span>DETAILS</span> <div class="fab-ico--arrow-right"></div>
						</a>
						
					</div>
				</li>
			
		
			

				<li id="f1267519555834" itemscope itemtype="http://schema.org/Offer">
					


  

	
		
		
		
		
			


























	
		
	
	



	
	




	
	
		



    





	
	
		
			
			
			
		
		
			
			
					
					<a name="LANDING PAGE: MAIN FEATURE4" class=" f221x392 "   
						href="javascript:window.open('https://c.comenity.net/victoriassecret/public/apply/ApplyIntro.xhtml?CMP=WEB:100112_APPLY_EARLY_REWARDS/');void(0);" itemprop="url" title="We Want You, Angel. Become an Angel Cardholder &amp; get free shipping on orders that include a bra&mdash;all year long! Apply Now">
				
					
					
					
				
			
			
		
		<span>
			<em></em>
			
			 
			
			<img
				src="//dm.victoriassecret.com/imagefeatures/392x221/1267519555834/090115-LTOs_OS_AngelCard.jpg"
				alt="We Want You, Angel. Become an Angel Cardholder &amp; get free shipping on orders that include a bra&mdash;all year long! Apply Now" title="We Want You, Angel. Become an Angel Cardholder &amp; get free shipping on orders that include a bra&mdash;all year long! Apply Now" itemprop="image" class="ftr ">
				
			
			
		</span>
        
				  
				
					
					
						
						<h4>
							<em data-href="/1267511683262" class='' data-modal='small' name="LANDING PAGE: MAIN FEATURE1267519555834" title="We Want You, Angel. Become an Angel Cardholder &amp; get free shipping on orders that include a bra&mdash;all year long! Apply Now"></em>
						</h4>
						
					
				
				
        
				
        
				
        
		
			
				</a>
			
			
		
		
	

		
		
		
		
		
		
        
	


					<div class="controls">
						<div class="codes">
						
							
								
                                    
                                    
                       				
										
											<a class="check">
												<em></em>
												<span class="fab-h7" itemprop="name" data-offer="JUST4ANGELS">JUST4ANGELS</span>
											</a>
										
									
								
							
							
						
						</div>
						
						<a class="details" href="/1267511683262" data-modal="small">
							<span>DETAILS</span> <div class="fab-ico--arrow-right"></div>
						</a>
						
					</div>
				</li>
			
		
		</ul>
	</div>
</section>

{{else}}
<div id="page" style="">
				
				<header id="header" role="banner">
	<nav role="navigation" class="">
	<ul>
		<li><a class="logo-vs fab-ico--vs-logo" name="HEADER: VS TAB" manual_cm_sp="VS-_-Link-_-Tab" href="https://test-005.lbidts.com/" title="Victoria's Secret" role="presentation"></a></li>
		<li><a class="logo-vs fab-ico--pink-tab" name="HEADER: PINK TAB" manual_cm_sp="PINK-_-Link-_-Tab" href="https://test-005.lbidts.com/pink" title="PINK" role="presentation"></a></li>
	</ul>
	<ul style="">
		<li><a id="menu" href="#" tabindex="0" role="button" aria-haspopup="true" aria-expanded="false"><em class="fab-ico--hamburger"></em><span class="amaze-offscreen">main menu</span><span class="amaze-offscreen">main menu</span></a></li>
		<li><a id="account" name="HEADER: ACCOUNT" href="https://test-005.lbidts.com/account/signin" title="account"><em class="fab-ico--account-login"></em><span class="screen-reader-only">Account</span></a></li>
		<li><a id="offer-spotlight-icon" href="https://test-005.lbidts.com/offerspotlight" tabindex="0" role="button"><em class="fab-ico--love-tag-black"></em><span class="screen-reader-only">Offer Spotlight</span></a></li>
		<li><a name="HEADER: LOVE LIST" id="lovelist" href="https://test-005.lbidts.com/lovelist/view" title="love list"><em class="fab-ico--lovelist-black"></em><span class="screen-reader-only">Love
					List</span><span class="loveListCount"></span></a>
			</li><li><a name="HEADER: BAG" id="bag" href="https://test-005.lbidts.com/commerce2/checkout" title="shopping bag"><em class="fab-ico--bag"></em><span class="screen-reader-only">Shopping Bag</span><span>1</span></a>
		</li></ul>
		<!-- <div class="offerSpotlightSmartAlert hide">
			<i></i>
			<a class="smart-alert-close"></a>
			<b>Today's Offers!</b>
			<p>Tap the tag for the latest offers and deals</p>
		</div> -->
	</nav>
	<div>
		<form name="HeaderSearchForm" method="get" class="searchA" action="https://sp10048b28.guided.ss-omtrdc.net/">
			<fieldset>
				<span class="fab-input-search">
					<input id="search-header" class="autoComplete search-header" data-ac-message="global-search autocomplete" type="search" name="q" value="" autocomplete="off" autocapitalize="off" autocorrect="off" placeholder="Search" role="search" aria-label="search">
					
					<button type="button" class="fab-input-clear fab-ico--close-sm" name="Clear Input" aria-label="Clear"></button>
					<button type="button" class="hello-angel">Hello Angel</button>
				</span>
			</fieldset>
			<input type="hidden" name="view" value="mobile">	
			<input type="hidden" name="theme" id="inputTheme" value="vs">
		</form>
	</div>
</header>

				<section id="wrapper">
					<section id="content" itemprop="mainContentOfPage" role="main">
						
























	





    
    
        
    
    




	<div>
		




	
		
		
		
		
			
























	
	



	
	    
    








	
	
		
			
			
			
		
		
			
			    
					
					
                        <div class="amaze-image-holder"><a name="TOP NAVIGATION: FEATURE1" class="bannertop f70x480 column-480 overlay amaze-image-border" data-overlay="small" href="/popups/1267530780719" itemprop="url" title="Free Shipping on $50. Priced in USD. Code VS50FREE. Click for details.">
                        
					
                
			
			
		
        
            <span>
                <em></em>
                
                
                    
                        
                        
                            <img itemprop="image" src="https://dm-test-005.lbidts.com/imagefeatures/480x70/1267532159912/082015-mob-majority-offer.jpg" alt="Free Shipping on $50. Priced in USD. Code VS50FREE. Click for details." class="ftr ">
                        
                    
                    <meta itemprop="name" content="Free Shipping on $50. Priced in USD. Code VS50FREE. Click for details.">
                
                
            </span>
        
         
            
                
                
                    
                
            
        
        
        
		
			
				</a></div>
			
			
		
		
	






		
		
		
		
		
		
        
	

	</div>



	





	
	
	
		
	
	
	

    
    	
        <ul class="row">
    
    
				<li id="f1267532220989" itemscope="" itemtype="http://schema.org/Thing" class="column-480 column-480x270">
					




	
		
		
		
		
			


























	
	    
    








	
	
		
			
			
			
		
		
			
			    
					
					
                        <div class="amaze-image-holder"><a name="TOP NAVIGATION: FEATURE2" class="ssf f270x480 column-480  amaze-image-border" href="/bras/body-by-victoria-collection" itemprop="url" title="New! Body By Victoria">
                        
					
                
			
			
		
        
            <span>
                <em></em>
                
                
                    
                        
                        
                            <img itemprop="image" src="https://dm-test-005.lbidts.com/imagefeatures/480x270/1267532220989/092015-mob-home-ftr-bbv.jpg" alt="New! Body By Victoria" class="ftr ">
                        
                    
                    <meta itemprop="name" content="New! Body By Victoria">
                
                
            </span>
        
         
            
                
                
                    
                
            
        
        
        
		
			
				</a></div>
			
			
		
		
	






		
		
		
		
		
		
        
	

				</li>


	


	
	
	
		
	
	
	

    
    	</ul>
        <ul class="row">
    
    
				<li id="f1267529437270" itemscope="" itemtype="http://schema.org/Thing" class="column-480 column-480x270">
					




	
		
		
		
		
			


























	
	    
    








	
	
		
			
			
			
		
		
			
			    
					
					
                        <div class="amaze-image-holder"><a name="TOP NAVIGATION: FEATURE3" class="ssf f270x480 column-480  amaze-image-border" href="/clothing/sale-and-specials" itemprop="url" title="Up to 30% off over 120 Styles. Shop Sales &amp; Specials">
                        
					
                
			
			
		
        
            <span>
                <em></em>
                
                
                    
                        
                        
                            <img itemprop="image" src="https://dm-test-005.lbidts.com/imagefeatures/480x270/1267529437270/091515-mob-clo-lounge-angel.jpg" alt="Up to 30% off over 120 Styles. Shop Sales &amp; Specials" class="ftr ">
                        
                    
                    <meta itemprop="name" content="Up to 30% off over 120 Styles. Shop Sales &amp; Specials">
                
                
            </span>
        
         
            
                
                
                    
                
            
        
        
        
		
			
				</a></div>
			
			
		
		
	






		
		
		
		
		
		
        
	

				</li>


	


	
	
	
		
	
	
	

    
    	</ul>
        <ul class="row">
    
    
				<li id="f1267517709417" itemscope="" itemtype="http://schema.org/Thing" class="column-480 column-480x70">
					




	
		
		
		
		
			


























	
	    
    








	
	
		
			
			
			
		
		
			
			    
					
					
                        <div class="amaze-image-holder"><a name="TOP NAVIGATION: FEATURE4" class="ssf f70x480 column-480  amaze-image-border" href="/offerspotlight" itemprop="url" title="See Today's Offers">
                        
					
                
			
			
		
        
            <span>
                <em></em>
                
                
                    
                        
                        
                            <img itemprop="image" src="https://dm-test-005.lbidts.com/imagefeatures/480x70/1267517709417/NEW-mob-todays-offers-banner.jpg" alt="See Today's Offers" class="ftr ">
                        
                    
                    <meta itemprop="name" content="See Today's Offers">
                
                
            </span>
        
         
            
                
                
                    
                
            
        
        
        
		
			
				</a></div>
			
			
		
		
	






		
		
		
		
		
		
        
	

				</li>


	


	
	
	
		
	
	
	

    
    	</ul>
        <ul class="row">
    
    
				<li id="f1267517704862" itemscope="" itemtype="http://schema.org/Thing" class="column-239 column-239x354">
					




	
		
		
		
		
			


























	
	    
    








	
	
		
			
			
			
		
		
			
			    
					
					
                        <div class="amaze-image-holder"><a name="TOP NAVIGATION: FEATURE5" class="ssf f354x239 column-239  amaze-image-border" href="/bras" itemprop="url" title="Bras">
                        
					
                
			
			
		
        
            <span>
                <em></em>
                
                
                    
                        
                        
                            <img itemprop="image" src="https://dm-test-005.lbidts.com/imagefeatures/239x354/1267517704862/01-091015-mob-home-mosaic-nav-01-bras-1.jpg" alt="Bras" class="ftr ">
                        
                    
                    <meta itemprop="name" content="Bras">
                
                
            </span>
        
         
            
                
                
                    
                
            
        
        
        
		
			
				</a></div>
			
			
		
		
	






		
		
		
		
		
		
        
	

				</li>


	


	
	
	
		
	
	
	

    
    
				<li id="f1267517706692" itemscope="" itemtype="http://schema.org/Thing" class="column-240 column-240x354">
					




	
		
		
		
		
			


























	
	    
    








	
	
		
			
			
			
		
		
			
			    
					
					
                        <div class="amaze-image-holder"><a name="TOP NAVIGATION: FEATURE6" class="ssf f354x240 column-240  amaze-image-border" href="/panties" itemprop="url" title="Panties">
                        
					
                
			
			
		
        
            <span>
                <em></em>
                
                
                    
                        
                        
                            <img itemprop="image" src="https://dm-test-005.lbidts.com/imagefeatures/240x354/1267517706692/01-091015-mob-home-mosaic-nav-02-panties.jpg" alt="Panties" class="ftr ">
                        
                    
                    <meta itemprop="name" content="Panties">
                
                
            </span>
        
         
            
                
                
                    
                
            
        
        
        
		
			
				</a></div>
			
			
		
		
	






		
		
		
		
		
		
        
	

				</li>


	


	
	
	
		
	
	
	

    
    	</ul>
        <ul class="row">
    
    
				<li id="f1267517706730" itemscope="" itemtype="http://schema.org/Thing" class="column-239 column-239x451">
					




	
		
		
		
		
			


























	
	    
    








	
	
		
			
			
			
		
		
			
			    
					
					
                        <div class="amaze-image-holder"><a name="TOP NAVIGATION: FEATURE7" class="ssf f451x239 column-239  amaze-image-border" href="/lingerie" itemprop="url" title="Lingerie">
                        
					
                
			
			
		
        
            <span>
                <em></em>
                
                
                    
                        
                        
                            <img itemprop="image" src="https://dm-test-005.lbidts.com/imagefeatures/239x451/1267517706730/01-091015-mob-home-mosaic-nav-03-lingerie.jpg" alt="Lingerie" class="ftr ">
                        
                    
                    <meta itemprop="name" content="Lingerie">
                
                
            </span>
        
         
            
                
                
                    
                
            
        
        
        
		
			
				</a></div>
			
			
		
		
	






		
		
		
		
		
		
        
	

				</li>


	


	
	
	
	
	

    
    
		<li class="group column-240">
			<ul class="row level2">
	
				<li id="f1267517706986" itemscope="" itemtype="http://schema.org/Thing" class=" column-240x225">
					




	
		
		
		
		
			


























	
	    
    








	
	
		
			
			
			
		
		
			
			    
					
					
                        <div class="amaze-image-holder"><a name="TOP NAVIGATION: FEATURE8" class="ssf f225x240 column-240  amaze-image-border" href="/sleepwear" itemprop="url" title="Sleep">
                        
					
                
			
			
		
        
            <span>
                <em></em>
                
                
                    
                        
                        
                            <img itemprop="image" src="https://dm-test-005.lbidts.com/imagefeatures/240x225/1267517706986/01-091015-mob-home-mosaic-nav-04-sleep.jpg" alt="Sleep" class="ftr ">
                        
                    
                    <meta itemprop="name" content="Sleep">
                
                
            </span>
        
         
            
                
                
                    
                
            
        
        
        
		
			
				</a></div>
			
			
		
		
	






		
		
		
		
		
		
        
	

				</li>


	


	
	
	
	
	

    
    	</ul>
        <ul class="row">
    
    
				<li id="f1267517709088" itemscope="" itemtype="http://schema.org/Thing" class=" column-240x225">
					




	
		
		
		
		
			


























	
	    
    








	
	
		
			
			
			
		
		
			
			    
					
					
                        <div class="amaze-image-holder"><a name="TOP NAVIGATION: FEATURE9" class="ssf f225x240 column-240  amaze-image-border" href="/victorias-secret-sport" itemprop="url" title="Sport">
                        
					
                
			
			
		
        
            <span>
                <em></em>
                
                
                    
                        
                        
                            <img itemprop="image" src="https://dm-test-005.lbidts.com/imagefeatures/240x225/1267517709088/01-091015-mob-home-mosaic-nav-05-sport.jpg" alt="Sport" class="ftr ">
                        
                    
                    <meta itemprop="name" content="Sport">
                
                
            </span>
        
         
            
                
                
                    
                
            
        
        
        
		
			
				</a></div>
			
			
		
		
	






		
		
		
		
		
		
        
	

				</li>


	
			</ul>
    


	
	
	
		
	
	
	

    
    	</li></ul>
        <ul class="row">
    
    
				<li id="f1267517706766" itemscope="" itemtype="http://schema.org/Thing" class="column-239 column-239x225">
					




	
		
		
		
		
			


























	
	    
    








	
	
		
			
			
			
		
		
			
			    
					
					
                        <div class="amaze-image-holder"><a name="TOP NAVIGATION: FEATURE10" class="ssf f225x239 column-239  amaze-image-border" href="/swimwear" itemprop="url" title="Swim">
                        
					
                
			
			
		
        
            <span>
                <em></em>
                
                
                    
                        
                        
                            <img itemprop="image" src="https://dm-test-005.lbidts.com/imagefeatures/239x225/1267517706766/01-091015-mob-home-mosaic-nav-06-swim.jpg" alt="Swim" class="ftr ">
                        
                    
                    <meta itemprop="name" content="Swim">
                
                
            </span>
        
         
            
                
                
                    
                
            
        
        
        
		
			
				</a></div>
			
			
		
		
	






		
		
		
		
		
		
        
	

				</li>


	


	
	
	
		
	
	
	

    
    
				<li id="f1267517709126" itemscope="" itemtype="http://schema.org/Thing" class="column-240 column-240x225">
					




	
		
		
		
		
			


























	
	    
    








	
	
		
			
			
			
		
		
			
			    
					
					
                        <div class="amaze-image-holder"><a name="TOP NAVIGATION: FEATURE11" class="ssf f225x240 column-240  amaze-image-border" href="/beauty" itemprop="url" title="Beauty">
                        
					
                
			
			
		
        
            <span>
                <em></em>
                
                
                    
                        
                        
                            <img itemprop="image" src="https://dm-test-005.lbidts.com/imagefeatures/240x225/1267517709126/01-091015-mob-home-mosaic-nav-07-beauty.jpg" alt="Beauty" class="ftr ">
                        
                    
                    <meta itemprop="name" content="Beauty">
                
                
            </span>
        
         
            
                
                
                    
                
            
        
        
        
		
			
				</a></div>
			
			
		
		
	






		
		
		
		
		
		
        
	

				</li>


	


	
	
	
		
	
	
	

    
    	</ul>
        <ul class="row">
    
    
				<li id="f1267517709164" itemscope="" itemtype="http://schema.org/Thing" class="column-239 column-239x353">
					




	
		
		
		
		
			


























	
	    
    








	
	
		
			
			
			
		
		
			
			    
					
					
                        <div class="amaze-image-holder"><a name="TOP NAVIGATION: FEATURE12" class="ssf f353x239 column-239  amaze-image-border" href="/clothing" itemprop="url" title="Clothing">
                        
					
                
			
			
		
        
            <span>
                <em></em>
                
                
                    
                        
                        
                            <img itemprop="image" src="https://dm-test-005.lbidts.com/imagefeatures/239x353/1267517709164/01-091015-mob-home-mosaic-nav-08-clothing.jpg" alt="Clothing" class="ftr ">
                        
                    
                    <meta itemprop="name" content="Clothing">
                
                
            </span>
        
         
            
                
                
                    
                
            
        
        
        
		
			
				</a></div>
			
			
		
		
	






		
		
		
		
		
		
        
	

				</li>


	


	
	
	
		
	
	
	

    
    
				<li id="f1267517709303" itemscope="" itemtype="http://schema.org/Thing" class="column-240 column-240x353">
					




	
		
		
		
		
			


























	
	    
    








	
	
		
			
			
			
		
		
			
			    
					
					
                        <div class="amaze-image-holder"><a name="TOP NAVIGATION: FEATURE13" class="ssf f353x240 column-240  amaze-image-border" href="/pink" itemprop="url" title="PINK">
                        
					
                
			
			
		
        
            <span>
                <em></em>
                
                
                    
                        
                        
                            <img itemprop="image" src="https://dm-test-005.lbidts.com/imagefeatures/240x353/1267517709303/01-091015-mob-home-mosaic-nav-09-pink.jpg" alt="PINK" class="ftr ">
                        
                    
                    <meta itemprop="name" content="PINK">
                
                
            </span>
        
         
            
                
                
                    
                
            
        
        
        
		
			
				</a></div>
			
			
		
		
	






		
		
		
		
		
		
        
	

				</li>


	


	
	
	
		
	
	
	

    
    	</ul>
        <ul class="row">
    
    
				<li id="f1267517709379" itemscope="" itemtype="http://schema.org/Thing" class="column-239 column-239x126">
					




	
		
		
		
		
			


























	
	    
    








	
	
		
			
			
			
		
		
			
			    
					
					
                        <div class="amaze-image-holder"><a name="TOP NAVIGATION: FEATURE14" class="ssf f126x239 column-239  amaze-image-border" href="/newarrivals/all-styles" itemprop="url" title="New Arrivals">
                        
					
                
			
			
		
        
            <span>
                <em></em>
                
                
                    
                        
                        
                            <img itemprop="image" src="https://dm-test-005.lbidts.com/imagefeatures/239x126/1267517709379/072315-mob-mosaic-sub-12-new-arrivals.jpg" alt="New Arrivals" class="ftr ">
                        
                    
                    <meta itemprop="name" content="New Arrivals">
                
                
            </span>
        
         
            
                
                
                    
                
            
        
        
        
		
			
				</a></div>
			
			
		
		
	






		
		
		
		
		
		
        
	

				</li>


	


	
	
	
		
	
	
	

    
    
				<li id="f1267517709341" itemscope="" itemtype="http://schema.org/Thing" class="column-240 column-240x127">
					




	
		
		
		
		
			


























	
	    
    








	
	
		
			
			
			
		
		
			
			    
					
					
                        <div class="amaze-image-holder"><a name="TOP NAVIGATION: FEATURE15" class="ssf f127x240 column-240  amaze-image-border" href="/sale" itemprop="url" title="Sale &amp; Specials">
                        
					
                
			
			
		
        
            <span>
                <em></em>
                
                
                    
                        
                        
                            <img itemprop="image" src="https://dm-test-005.lbidts.com/imagefeatures/240x127/1267517709341/01-091015-mob-home-mosaic-nav-11-sale.jpg" alt="Sale &amp; Specials" class="ftr ">
                        
                    
                    <meta itemprop="name" content="Sale &amp; Specials">
                
                
            </span>
        
         
            
                
                
                    
                
            
        
        
        
		
			
				</a></div>
			
			
		
		
	






		
		
		
		
		
		
        
	

				</li>


	


	
	
	
		
	
	
	

    
    	</ul>
        <ul class="row">
    
    
				<li id="f1267519534470" itemscope="" itemtype="http://schema.org/Thing" class="column-480 column-480x70">
					




	
		
		
		
		
			


























	
	    
    








	
	
		
			
			
			
		
		
			
			    
					
					
                        <div class="amaze-image-holder"><a name="TOP NAVIGATION: FEATURE16" class="ssf f70x480 column-480  amaze-image-border" href="/angel-card" itemprop="url" title="We Want You, Angel. Click to learn more.">
                        
					
                
			
			
		
        
            <span>
                <em></em>
                
                
                    
                        
                        
                            <img itemprop="image" src="https://dm-test-005.lbidts.com/imagefeatures/480x70/1267519534470/090115-mob-home_AC_Banner.jpg" alt="We Want You, Angel. Click to learn more." class="ftr ">
                        
                    
                    <meta itemprop="name" content="We Want You, Angel. Click to learn more.">
                
                
            </span>
        
         
            
                
                
                    
                
            
        
        
        
		
			
				</a></div>
			
			
		
		
	






		
		
		
		
		
		
        
	

				</li>


	













					</ul></section>

					
						
							
						
						
					

					
					
					

				</section>
				
				









<footer role="contentinfo">
	<form name="FooterSearchForm" method="get" class="searchA" action="https://sp10048b28.guided.ss-omtrdc.net/">
		<fieldset>
			<span class="fab-input-search">
				<input id="search-footer" class="autoComplete search-header" data-ac-message="global-search autocomplete" type="search" name="q" value="" autocomplete="off" autocapitalize="off" autocorrect="off" placeholder="Search" aria-label="search" role="textbox" aria-autocomplete="list">
				
				<button type="button" class="fab-input-clear fab-ico--close-sm" name="Clear Input" aria-label="Clear"></button>
			</span>
		</fieldset>
		<input type="hidden" name="view" value="mobile">
			
			
			
				<input type="hidden" name="theme" id="wrrtdnn" value="vs">
			
		
	</form>

	
		<ul class="live-chat" data-page-id="HOME PAGE ">
			<button type="submit" class="secondary fab-btn--primary">
	            <span class="fab-ico--chat-bubble-before">Live Chat</span>
	        </button>
		</ul>
	
	<div class="footer-email">
		<h2>Email Sign Up</h2>
		<span class="amaze-offscreen">email sign up</span><span class="amaze-offscreen">email sign up</span><form name="FooterEmailForm" method="get" action="https://test-005.lbidts.com/CustomerService/SignUp/SignUpForEmail" novalidate="novalidate">
	        <fieldset>
	            <span class="amaze-offscreen" aria-hidden="true" id="frnprar">email signup</span><span class="amaze-offscreen" aria-hidden="true" id="gkvpcgc">email signup</span><input id="email-footer" type="email" name="email" maxlength="512" aria-labelledby="frnprar gkvpcgc">
	            <button type="button" name="FOOTER: EMAIL SIGN UP" class="fab-ico--rightarrow-black" aria-labelledby="pcbbotr pxjtyla"></button><span class="amaze-offscreen" aria-hidden="true" id="pxjtyla">Sign Up</span><span class="amaze-offscreen" aria-hidden="true" id="pcbbotr">Sign Up</span>
	        </fieldset>
	    </form>
	    <p>Get special offers &amp; more!</p>
    <span class="amaze-offscreen">get special offers and more</span><span class="amaze-offscreen">get special offers and more</span></div>

	<ul class="menu secondary">
		<li>
			<h3><span class="fab-ico--angel-card"></span><a name="MCOMM: FOOTER:ANGEL CARD" class="angel-card fab-h4" manual_cm_sp="MCOMMVS-_-Link-_-AngelCard" title="angel card" href="#" tabindex="0" role="button" aria-expanded="false">Angel Card</a></h3>
			<ul>
				<li><a name="MCOMM: FOOTER: ANGEL CARD - Pay My Bill" manual_cm_sp="MCOMMVS-_-Link-_-AngelCard" href="https://c.comenity.net/victoriassecret/" data-metrics-tag-type="click" data-metrics-template-name="footerAngelCard" class="fab-h4">Pay My Bill</a></li>
				<li><a name="MCOMM: FOOTER: ANGEL CARD - Card Benefits" manual_cm_sp="MCOMMVS-_-Link-_-AngelCard" href="https://test-005.lbidts.com/angel-card-benefits" data-metrics-tag-type="click" data-metrics-template-name="footerAngelCard" class="fab-h4">Card Benefits</a></li>
				<li><a name="MCOMM: FOOTER: ANGEL CARD - Apply Now" manual_cm_sp="MCOMMVS-_-Link-_-AngelCard" href="https://c.comenity.net/victoriassecret/public/apply/ApplyIntro.xhtml?r=t&amp;Action=ApplyOnline.jsp" data-metrics-tag-type="click" data-metrics-template-name="footerAngelCard" class="fab-h4">Apply Now</a></li>
			</ul>
		</li>
		<li>
			<h3><a href="#" class="fab-h4" tabindex="0" role="button" aria-expanded="false">Account</a></h3>
			<ul>
				<li>
					
						
							<a name="MCOMM: FOOTER: ACCOUNT" href="https://test-005.lbidts.com/account/signin?footerReferer=account/profile" title="account" data-metrics-tag-type="click" data-metrics-template-name="footerAccount" class="fab-h4">Your Account</a>
						
						
					
				</li>
				<li><a name="MCOMM: FOOTER: ACCOUNT - Order Status" href="https://test-005.lbidts.com/account/orderstatus?footerReferer=account/orderstatus" data-metrics-tag-type="click" data-metrics-template-name="footerAccount" class="fab-h4">Order Status</a></li>
				<li><a name="MCOMM: FOOTER: ACCOUNT - Love List" href="https://test-005.lbidts.com/lovelist/view?footerReferer=lovelist/view" data-metrics-tag-type="click" data-metrics-template-name="footerAccount" class="fab-h4">Love List</a></li>
			</ul>
		</li>
		<li>
			<h3><a href="#" class="fab-h4" tabindex="0" role="button" aria-expanded="false">Customer Service</a></h3>
			<ul>
				<li><a name="MCOMM: FOOTER: QUICK HELP" href="https://test-005.lbidts.com/CustomerService/QuickHelp" data-metrics-tag-type="click" data-metrics-template-name="footerCS" class="fab-h4">Quick Help</a></li>
				<li><a name="MCOMM: FOOTER: CUSTOMER SERVICE - More Help" href="https://test-005.lbidts.com/contact" data-metrics-tag-type="click" data-metrics-template-name="footerCS" class="fab-h4">Contact Us</a></li>
				<li><a name="MCOMM: FOOTER: PHONE NUMBER" href="tel:1-800.411.5116" data-metrics-tag-type="click" data-metrics-template-name="footerCS" class="fab-h4">1.800.411.5116</a></li>
			</ul>
		</li>
		<li>
			
				
				
					<h3><a href="#" class="fab-h4" tabindex="0" role="button" aria-expanded="false">VS Apps</a></h3>
					<ul>
						<li><a name="MCOMM: FOOTER: IPHONE" href="http://itunes.apple.com/app/victorias-secret-all-access/id336860594" target="_blank" data-metrics-tag-type="click" data-metrics-template-name="footerVSApps" class="fab-h4">iPhone</a></li>
						<li><a name="MCOMM: FOOTER: IPAD" href="https://itunes.apple.com/us/app/victorias-secret-for-ipad/id398746803?mt=8" target="_blank" data-metrics-tag-type="click" data-metrics-template-name="footerVSApps" class="fab-h4">iPad</a></li>
						<li><a name="MCOMM: FOOTER: ANDROID" href="https://play.google.com/store/apps/details?id=com.victoriassecret.vsaa" target="_blank" data-metrics-tag-type="click" data-metrics-template-name="footerVSApps" class="fab-h4">Android</a></li>
					</ul>
				
			
		</li>
		<li>
			<h3><a href="#" class="fab-h4" tabindex="0" role="button" aria-expanded="false">Subscribe</a></h3>
			<ul>
				<li><a name="MCOMM: FOOTER: SUBSCRIBE - Emails" href="https://test-005.lbidts.com/CustomerService/SignUp/SignUpForEmail/" data-metrics-tag-type="click" data-metrics-template-name="footerSubscribe" class="fab-h4">Emails</a></li>
				<li><a name="MCOMM: FOOTER: SUBSCRIBE - Catalogues" href="https://test-005.lbidts.com/catalogue-request" data-metrics-tag-type="click" data-metrics-template-name="footerSubscribe" class="fab-h4">Catalogues</a></li>
				<li><a name="MCOMM: FOOTER: SUBSCRIBE - Store Offers &amp; Events" href="https://test-005.lbidts.com/CustomerService/SignUp/StoreOfferAndEvents" data-metrics-tag-type="click" data-metrics-template-name="footerSubscribe" class="fab-h4">Store Offers &amp; Events</a></li>
			</ul>
		</li>
	</ul>
	<ul class="menu secondary horizontal">
		<li>
			<a name="MCOMM: FOOTER: GIFT CARDS" class="giftCards fab-h4" href="https://test-005.lbidts.com/gifts/gift-cards" data-metrics-tag-type="click" data-metrics-template-name="footerUseElementText">
			<em class="fab-ico--giftcard"></em> Shop Gift Cards</a>
		</li>
		<li>
			<a name="MCOMM: FOOTER: FIND A STORE" class="findStore fab-h4" href="https://test-005.lbidts.com/store-locator" data-metrics-tag-type="conversion" data-metrics-template-name="footerStoreLocatorLink"><em class="fab-ico--location-marker"></em> Find a Store</a>
		</li>
		<li>
			<a name="MCOMM: FOOTER: SHOP CATALOGUES" class="shopCatalogue fab-h4" href="https://test-005.lbidts.com/catalogue/" data-metrics-tag-type="click" data-metrics-template-name="footerUseElementText"><em class="fab-ico--catalogue"></em> Shop Catalogues</a>
		</li>
	</ul>


	
		<ul class="menu gfoc secondary">
			<li id="globalCurrencyControlsPanel" class="panel committed">
			    <h3>International Shopping</h3>
			    <button type="button" class="edit primary fab-btn--small-on-black" name="Edit GFOC Panel">Edit</button>
			    <ul class="secondary horizontal currency">
			    	<li><b>Ship to:</b><p><span class="flag US dims"></span></p></li>
					<li><b>Currency:</b><p>US Dollar (USD)</p></li>
				</ul>
			</li>
			
			
			<div>
				<li class="panel-body opened">
					<p>Select a shipping country and preferred currency.</p>
					<form action="/gfoc/update" class="validate" method="POST" name="globalCurrencyControlsForm" id="globalCurrencyControlsForm" novalidate="novalidate">
						<fieldset>
							<select name="countries" id="countries">
			                    <option value="---">Select Country</option>
			                    
			                </select>

						    <div class="countryMessages"></div>
						</fieldset>

						<fieldset>
							<select name="currencies" id="currencies">
			                    <option value="---">Select Currency</option>
			                    
			                </select>

							<div class="currencyMessages"></div>
						</fieldset>

						<button type="submit" class="fab-btn--primary">
				            Save and Continue Shopping
				        </button>
			        </form>

			        <p class="gfocDetails" name="gfocDetails">For additional details about international shopping, <a href="https://customerservice.victoriassecret.com/app/answers/list/p/211">click here</a>.</p>
				</li>

				<li class="panel-body committed" data-path="dm-test-005.lbidts.com/resources/build/43984432f78c2e112969a6b8ba3fd5cc0ec29586">
					

                    
				</li>
			</div>
		</ul>
	

	<div id="white-bottom">
		
			
			
				<div class="social">
					<div role="list"><div role="listitem" class="amaze-social-div"><div role="list"><div role="listitem" class="amaze-social-div"><a name="MCOMM: FOOTER: FACEBOOK" href="https://m.facebook.com/victoriassecret" title="Facebook" class="facebook" target="_blank" data-metrics-tag-type="click" data-metrics-template-name="footerConnectWithVS" role="link"><em class="fab-ico--fb"></em></a></div><div role="listitem" class="amaze-social-div"><a name="MCOMM: FOOTER: TWITTER" href="http://twitter.com/victoriassecret" title="Twitter" class="twitter" target="_blank" data-metrics-tag-type="click" data-metrics-template-name="footerConnectWithVS" role="link"><em class="fab-ico--twitter"></em></a></div><div role="listitem" class="amaze-social-div"><a name="MCOMM: FOOTER: YOUTUBE" href="http://www.youtube.com/victoriassecret" title="YouTube" class="youtube" target="_blank" data-metrics-tag-type="click" data-metrics-template-name="footerConnectWithVS" role="link"><em class="fab-ico--youtube"></em></a></div><div role="listitem" class="amaze-social-div"><a name="MCOMM: FOOTER: PINTEREST" href="http://pinterest.com/victoriassecret" title="Pinterest" class="pinterest" target="_blank" data-metrics-tag-type="click" data-metrics-template-name="footerConnectWithVS" role="link"><em class="fab-ico--pinterest"></em></a></div><div role="listitem" class="amaze-social-div"><a name="MCOMM: FOOTER: INSTAGRAM" href="http://instagram.com/victoriassecret" title="Instagram" class="instagram" target="_blank" data-metrics-tag-type="click" data-metrics-template-name="footerConnectWithVS" role="link"><em class="fab-ico--instagram"></em></a></div></div></div><div role="listitem" class="amaze-social-div"></div><div role="listitem" class="amaze-social-div"></div><div role="listitem" class="amaze-social-div"></div><div role="listitem" class="amaze-social-div"></div></div>
					
					
					
					
				</div>
				<div id="vsallaccess">
					<a name="MCOMM: FOOTER: VS AllAccess" href="https://test-005.lbidts.com/vsallaccess" title="VSAllAccess" class="vsallaccess" target="_blank" data-metrics-tag-type="click" data-metrics-template-name="footerConnectWithVS"><em class="fab-ico--vsaa-logo"></em></a>
				</div>
			
		
		<ul class="menu inline">
		    <li>
		      	<a name="MCOMM: FOOTER: DESKTOP SITE" href="https://test-005.lbidts.com/?stop_mobi=yes" data-metrics-tag-type="click" data-metrics-template-name="footerUseElementText">Desktop Site</a>
		    </li>
		    <li>
		        <a name="MCOMM: FOOTER: PHONE NUMBER" href="tel:1-800.411.5116" data-metrics-tag-type="click" data-metrics-template-name="footerOrderByPhone">Order by Phone: <span>1(800) 411-5116</span></a>
		    </li>
		</ul>
		<ul class="menu inline">
			<li>
				
					
						<a name="MCOMM: FOOTER: ACCOUNT TEST" href="https://test-005.lbidts.com/account/signin?footerReferer=account/profile" title="account" data-metrics-tag-type="click" data-metrics-template-name="footerUseElementText">Your Account</a>
					
					
				
			</li>
			<li>
				<a name="MCOMM: FOOTER: SITE TERMS &amp; NOTICES" href="https://test-005.lbidts.com/site-terms-and-notices/" data-metrics-tag-type="click" data-metrics-template-name="footerUseElementText">Site Terms &amp; Notices</a>
			</li>
		    <li>
		        <a name="MCOMM: FOOTER: CAREERS" href="https://test-005.lbidts.com/careers" data-metrics-tag-type="click" data-metrics-template-name="footerUseElementText">Careers</a>
		    </li>
		</ul>
		<ul class="menu inline">
			<li>
				<a name="MCOMM: FOOTER: PRIVACY &amp; SECURITY" href="https://test-005.lbidts.com/privacy-and-security/" data-metrics-tag-type="click" data-metrics-template-name="footerUseElementText">Privacy &amp; Security</a>
			</li>
			<li>
				<a name="MCOMM: FOOTER: CALIFORNIA PRIVACY" href="https://test-005.lbidts.com/california-privacy-policy/" data-metrics-tag-type="click" data-metrics-template-name="footerUseElementText">California Privacy</a>
			</li>
		</ul>
		<ul class="menu inline">
			<li>
				<a name="MCOMM: FOOTER: CALIFORNIA TRANSPARENCY" href="https://test-005.lbidts.com/california-transparency" manual_cm_sp="VS-_-FooterLink-_-californiatransparency" data-metrics-tag-type="click" data-metrics-template-name="footerUseElementText">California Transparency</a>
			</li>
		    <li>
		        <a name="MCOMM: FOOTER: SSL SECURE CHECKOUT" href="https://test-005.lbidts.com/privacy-and-security/" data-metrics-tag-type="click" data-metrics-template-name="footerUseElementText">SSL Secure Checkout</a>
		    </li>
		</ul>
		<small>© 2015 Victoria's Secret. All Rights Reserved.</small>
	</div>

</footer>

				<div id="nav-offerspotlight" class="offer-spotlight" aria-hidden="true" style="display: none;">
					



<header>
	<h2>TODAY'S OFFERS</h2>
    <button id="offer-spotlight-close" class="fab-btn--primary-small-fix osl-done">Done</button>
</header>
<section>
	<div>
		<p>Tap offer codes below to apply in <a href="/commerce2/checkout">Checkout</a>.
		
		</p>

		<ul class="offers">
			
				

		            
		                
		                    
		                
		            

					<li id="f1267532202429" itemscope="" itemtype="http://schema.org/Offer" class="f270x480">
						




	
		
		
		
		
			























	
	


	
	



	
	    
    



    






	
	
		
			
			
			
		
		
			
			    
					
                        <a name="LANDING PAGE: MAIN FEATURE1" class="mf f270x480 column-480 overlay" data-overlay="small" href="/popups/1267530780719" itemprop="url" title="Ends Sunday! Free Shipping on $50. Priced in USD. Code VS50FREE. Click for details.">
                        
					
					
                
			
			
		
        
            <span>
                <em></em>
                
                
                    
                        
                            <img src="https://dm-test-005.lbidts.com/imagefeatures/480x270/1267532202429/091815-mobileOS-fs50.jpg" alt="Ends Sunday! Free Shipping on $50. Priced in USD. Code VS50FREE. Click for details." class="ftr ">
                        
                        
                    
                    <meta itemprop="name" content="Ends Sunday! Free Shipping on $50. Priced in USD. Code VS50FREE. Click for details.">
                
                
            </span>
        
         
            
                
                
                    
                        <h4>
                            <em data-href="/popups/1267530780719" class="overlay" data-overlay="small" name="LANDING PAGE: MAIN FEATURE1267532202429" title="Ends Sunday! Free Shipping on $50. Priced in USD. Code VS50FREE. Click for details."></em>
                        </h4>
                    
                
            
        
        
        
		
			
				</a>
			
			
		
		
	



		
		
		
		
		
		
        
	


						<div class="controls">
							<div class="codes">
								
									
										
											
												
												
													<a class="check offer" data-featureid="f1267532202429" data-offercode="VS50FREE" data-offerlink="VS50FREE">
														<em class="fab-ico--checkmark-transparent"></em>
														<span class="fab-h7" itemprop="name">VS50FREE</span>
													</a>
												
											
										
									
									
								
							</div>
							
								<a class="button primary overlay" href="/popups/1267530780719" data-modal="small" tabindex="0" role="button">
									<span class="fab-ico--black-arrow-right-after">Details</span>
								</a>
							
							
								<div class="tapToApplySmartAlert fadeIn">
									<b>Tap To Apply</b>
									<i></i>
								</div>
							
						</div>
					</li>
				
			
				

		            
		                
		                    
		                
		            

					<li id="f1267532252426" itemscope="" itemtype="http://schema.org/Offer" class="f270x480">
						




	
		
		
		
		
			























	
	




	
	    
    








	
	
		
			
			
			
		
		
			
			    
					
					
                        <div class="amaze-image-holder"><a name="LANDING PAGE: FEATURE17" class="ssf f270x480 column-480  amaze-image-border" href="/clothing/tunic-and-legging-bundle" itemprop="url" title="Ends Wednesday! $44 USD Hooded Tunic &amp; Legging. Excludes clearance. Click to get them now.">
                        
					
                
			
			
		
        
            <span>
                <em></em>
                
                
                    
                        
                        
                            <img itemprop="image" src="https://dm-test-005.lbidts.com/imagefeatures/480x270/1267532252426/092015-mob-tunic-legging-offer.jpg" alt="Ends Wednesday! $44 USD Hooded Tunic &amp; Legging. Excludes clearance. Click to get them now." class="ftr ">
                        
                    
                    <meta itemprop="name" content="Ends Wednesday! $44 USD Hooded Tunic &amp; Legging. Excludes clearance. Click to get them now.">
                
                
            </span>
        
         
            
                
                
                    
                        <h4>
                            <em data-href="/popups/1267532189894" class="overlay" data-overlay="small" name="LANDING PAGE: FEATURE1267532252426" title="Ends Wednesday! $44 USD Hooded Tunic &amp; Legging. Excludes clearance. Click to get them now."></em>
                        </h4>
                    
                
            
        
        
        
		
			
				</a></div>
			
			
		
		
	



		
		
		
		
		
		
        
	


						<div class="controls">
							<div class="codes">
								
									
										
											
												
												
													<a class="check offer" data-featureid="f1267532252426" data-offercode="VS44" data-offerlink="VS44">
														<em class="fab-ico--checkmark-transparent"></em>
														<span class="fab-h7" itemprop="name">VS44</span>
													</a>
												
											
										
									
									
								
							</div>
							
								<a class="button primary overlay" href="/popups/1267532189894" data-modal="small" tabindex="0" role="button">
									<span class="fab-ico--black-arrow-right-after">Details</span>
								</a>
							
							
								<div class="tapToApplySmartAlert fadeIn">
									<b>Tap To Apply</b>
									<i></i>
								</div>
							
						</div>
					</li>
				
			
				

		            
		                
		                    
		                
		            

					<li id="f1267529598958" itemscope="" itemtype="http://schema.org/Offer" class="f270x480">
						




	
		
		
		
		
			























	
	




	
	    
    








	
	
		
			
			
			
		
		
			
			    
					
					
                        <div class="amaze-image-holder"><a name="LANDING PAGE: FEATURE18" class="ssf f270x480 column-480  amaze-image-border" href="/beauty/fragrance" itemprop="url" title="Ends Monday! Free Limited Edition Tote &amp; Corset Clutch with Any Eau de Parfum Purchase of 1.7 Oz or Larger. Excludes clearance. Code SEXYTOTE. Click to shop all Fragrance.">
                        
					
                
			
			
		
        
            <span>
                <em></em>
                
                
                    
                        
                        
                            <img itemprop="image" src="https://dm-test-005.lbidts.com/imagefeatures/480x270/1267529598958/091315-mobile-bty-8-body-care.jpg" alt="Ends Monday! Free Limited Edition Tote &amp; Corset Clutch with Any Eau de Parfum Purchase of 1.7 Oz or Larger. Excludes clearance. Code SEXYTOTE. Click to shop all Fragrance." class="ftr ">
                        
                    
                    <meta itemprop="name" content="Ends Monday! Free Limited Edition Tote &amp; Corset Clutch with Any Eau de Parfum Purchase of 1.7 Oz or Larger. Excludes clearance. Code SEXYTOTE. Click to shop all Fragrance.">
                
                
            </span>
        
         
            
                
                
                    
                        <h4>
                            <em data-href="/popups/1267529261668" class="overlay" data-overlay="small" name="LANDING PAGE: FEATURE1267529598958" title="Ends Monday! Free Limited Edition Tote &amp; Corset Clutch with Any Eau de Parfum Purchase of 1.7 Oz or Larger. Excludes clearance. Code SEXYTOTE. Click to shop all Fragrance."></em>
                        </h4>
                    
                
            
        
        
        
		
			
				</a></div>
			
			
		
		
	



		
		
		
		
		
		
        
	


						<div class="controls">
							<div class="codes">
								
									
										
											
												
												
													<a class="check offer" data-featureid="f1267529598958" data-offercode="SEXYTOTE" data-offerlink="SEXYTOTE">
														<em class="fab-ico--checkmark-transparent"></em>
														<span class="fab-h7" itemprop="name">SEXYTOTE</span>
													</a>
												
											
										
									
									
								
							</div>
							
								<a class="button primary overlay" href="/popups/1267529261668" data-modal="small" tabindex="0" role="button">
									<span class="fab-ico--black-arrow-right-after">Details</span>
								</a>
							
							
								<div class="tapToApplySmartAlert fadeIn">
									<b>Tap To Apply</b>
									<i></i>
								</div>
							
						</div>
					</li>
				
			
				

		            
		                
		                    
		                
		            

					<li id="f1267519566580" itemscope="" itemtype="http://schema.org/Offer" class="f270x480">
						




	
		
		
		
		
			























	
	




	
	    
    



    






	
	
		
			
			
			
		
		
			
			    
					
                        <a name="LANDING PAGE: MAIN FEATURE2" class="mf f270x480 column-480 " href="javascript:window.open('https://c.comenity.net/victoriassecret/public/apply/ApplyIntro.xhtml?CMP=WEB:100112_APPLY_EARLY_REWARDS/','','toolbar=1,status=1,location=1,scrollbars=1,resizable=1,width=1000,height=436');void(0);" itemprop="url" title="We Want You, Angel. Become an Angel Cardholder &amp; get free shipping on orders that include a bra—all year long! Apply Now">
                        
					
					
                
			
			
		
        
            <span>
                <em></em>
                
                
                    
                        
                            <img src="https://dm-test-005.lbidts.com/imagefeatures/480x270/1267519566580/090115-LTOs_mobile_AngelCard.jpg" alt="We Want You, Angel. Become an Angel Cardholder &amp; get free shipping on orders that include a bra—all year long! Apply Now" class="ftr ">
                        
                        
                    
                    <meta itemprop="name" content="We Want You, Angel. Become an Angel Cardholder &amp; get free shipping on orders that include a bra—all year long! Apply Now">
                
                
            </span>
        
         
            
                
                
                    
                        <h4>
                            <em data-href="/1267511683262" class="overlay" data-overlay="small" name="LANDING PAGE: MAIN FEATURE1267519566580" title="We Want You, Angel. Become an Angel Cardholder &amp; get free shipping on orders that include a bra—all year long! Apply Now"></em>
                        </h4>
                    
                
            
        
        
        
		
			
				</a>
			
			
		
		
	



		
		
		
		
		
		
        
	


						<div class="controls">
							<div class="codes">
								
									
										
											
												
												
													<a class="check offer" data-featureid="f1267519566580" data-offercode="JUST4ANGELS" data-offerlink="JUST4ANGELS">
														<em class="fab-ico--checkmark-transparent"></em>
														<span class="fab-h7" itemprop="name">JUST4ANGELS</span>
													</a>
												
											
										
									
									
								
							</div>
							
								<a class="button primary overlay" href="/1267511683262" data-modal="small" tabindex="0" role="button">
									<span class="fab-ico--black-arrow-right-after">Details</span>
								</a>
							
							
								<div class="tapToApplySmartAlert fadeIn">
									<b>Tap To Apply</b>
									<i></i>
								</div>
							
						</div>
					</li>
				
			
				

		            
		                
		                    
		                
		            

					<li id="f1267529609136" itemscope="" itemtype="http://schema.org/Offer" class="f270x480">
						




	
		
		
		
		
			


























	
	    
    








	
	
		
			
			
			
		
		
			
			    
					
					
                        <div class="amaze-image-holder"><a name="LANDING PAGE: FEATURE19" class="ssf f270x480 column-480  amaze-image-border" href="/beauty/vs-fantasies-bodycare-specials" itemprop="url" title="Limited Time! 7 for $35 USD VS Fantasies">
                        
					
                
			
			
		
        
            <span>
                <em></em>
                
                
                    
                        
                        
                            <img itemprop="image" src="https://dm-test-005.lbidts.com/imagefeatures/480x270/1267529609136/091515-mob-landing-pages-VSfantasy.jpg" alt="Limited Time! 7 for $35 USD VS Fantasies" class="ftr ">
                        
                    
                    <meta itemprop="name" content="Limited Time! 7 for $35 USD VS Fantasies">
                
                
            </span>
        
         
            
                
                
                    
                
            
        
        
        
		
			
				</a></div>
			
			
		
		
	



		
		
		
		
		
		
        
	


						<div class="controls">
							<div class="codes">
								
									
									
										<div class="nocode">
											<span>NO CODE REQUIRED</span>
										</div>
									
								
							</div>
							
							
						</div>
					</li>
				
			
				

		            
		                
		                    
		                
		            

					<li id="f1267529624826" itemscope="" itemtype="http://schema.org/Offer" class="f270x480">
						




	
		
		
		
		
			


























	
	    
    








	
	
		
			
			
			
		
		
			
			    
					
					
                        <div class="amaze-image-holder"><a name="LANDING PAGE: FEATURE20" class="ssf f270x480 column-480  amaze-image-border" href="/beauty/vs-body-care-specials" itemprop="url" title="Ends Monday! New! VS Body Care Minis $5, Reg. $8 + Full-Size VS Body Care $8, Reg. $18. Shop the collection.">
                        
					
                
			
			
		
        
            <span>
                <em></em>
                
                
                    
                        
                        
                            <img itemprop="image" src="https://dm-test-005.lbidts.com/imagefeatures/480x270/1267529624826/091515-mobile-bodycare.jpg" alt="Ends Monday! New! VS Body Care Minis $5, Reg. $8 + Full-Size VS Body Care $8, Reg. $18. Shop the collection." class="ftr ">
                        
                    
                    <meta itemprop="name" content="Ends Monday! New! VS Body Care Minis $5, Reg. $8 + Full-Size VS Body Care $8, Reg. $18. Shop the collection.">
                
                
            </span>
        
         
            
                
                
                    
                
            
        
        
        
		
			
				</a></div>
			
			
		
		
	



		
		
		
		
		
		
        
	


						<div class="controls">
							<div class="codes">
								
									
									
										<div class="nocode">
											<span>NO CODE REQUIRED</span>
										</div>
									
								
							</div>
							
							
						</div>
					</li>
				
			
		</ul>
	</div>
</section>

				</div>
			</div>

{{/if}}