<footer>
    
    <nav>
        <ul class="menu secondary">
            <li>

                <h3 class="fab-h6">HELP</h3>

                <ul>
                    <li><a name="FOOTER: SERVICE - Customer Service" data-cm="CUSTOMER SERVICE FOOTER: CUSTOMER SERVICE" manual_cm_sp="VS-_-FooterLink-_-customerservice" href="https://www.victoriassecret.com/contact">Customer Service</a>
                    <li><a id="footerLiveChat" name="FOOTER: SERVICE - Live Chat" rel="nofollow" data-queue-id="7" data-cm="CUSTOMER SERVICE FOOTER: LIVE CHAT" manual_cm_sp="VS-_-FooterLink-_-livechat" data-page-id="HOME PAGE ">Live Chat</a>
                    <li>1.800.411.5116
                </ul>
            <li>

                <h3 class="fab-h6">Account</h3>

                <ul>
                    
                        
                            <li><a name="FOOTER: ACCOUNT - Your Account" manual_cm_sp="VS-_-FooterLink-_-accountprofile" href="https://www.victoriassecret.com/account/profile">Your Account</a>
                        
                        
                    
                    <li><a name="FOOTER: ACCOUNT - Order Status" manual_cm_sp="VS-_-FooterLink-_-orderstatus" href="https://www.victoriassecret.com/account/orderstatus">Order Status</a>
                    <li><a name="FOOTER: ACCOUNT - Love List" manual_cm_sp="VS-_-FooterLink-_-lovelist" href="https://www.victoriassecret.com/lovelist/view">Love List</a>
                </ul>
            <li>

                <h3 class="fab-h6">Subscribe</h3>

                <ul>
                    <li><a name="FOOTER: SUBSCRIBE - Emails" manual_cm_sp="VS-_-FooterLink-_-emailsignup" href="https://www.victoriassecret.com/CustomerService/SignUp/SignUpForEmail/">Emails</a>
                    <li><a name="FOOTER: SUBSCRIBE - Catalogues" manual_cm_sp="VS-_-FooterLink-_-cataloguerequest" href="https://www.victoriassecret.com/catalogue-request">Catalogues</a>
                    <li><a name="FOOTER: SUBSCRIBE - Store Offers & Events" manual_cm_sp="VS-_-FooterLink-_-eventsignup" href="/CustomerService/SignUp/StoreOfferAndEvents">Store Offers &amp; Events</a>
                </ul>
            
            <li>
                
                
                

                <h3 class="fab-h6">VS Apps</h3>

                <ul>
                    <li><a name="FOOTER: VS APPS - iPhone" manual_cm_sp="VS-_-FooterLink-_-iphoneapp" href="https://itunes.apple.com/app/victorias-secret-all-access/id336860594" target="_blank">iPhone</a>
                    <li><a name="FOOTER: VS APPS - iPad" manual_cm_sp="VS-_-FooterLink-_-ipadapp" href="https://itunes.apple.com/us/app/victorias-secret-for-ipad/id398746803?mt=8" target="_blank">iPad</a>
                    <li><a name="FOOTER: VS APPS - Android" manual_cm_sp="VS-_-FooterLink-_-androidapp" href="https://play.google.com/store/apps/details?id=com.victoriassecret.vsaa" target="_blank">Android</a>
                </ul>
                
                
            
            <li>

                <h3 class="fab-h6">Angel Card</h3>

                <ul>
                    <li><a name="FOOTER: ANGEL CARD - Manage Account" manual_cm_sp="VS-_-FooterLink-_-AngelCardAccount" href="https://c.comenity.net/victoriassecret/">Manage Your Card</a>
                    <li><a name="FOOTER: ANGEL CARD - Benefits" href="https://www.victoriassecret.com/angel-card-benefits" manual_cm_sp="VS-_-FooterLink-_-AngelCardBenefits">Card Benefits</a>
                    <li><a name="FOOTER: ANGEL CARD - Apply Now" href="https://www.victoriassecret.com/angel-card" manual_cm_sp="VS-_-FooterLink-_-AngelCardApply">Apply Now</a>
                </ul>
        </ul>
        <ul class="menu secondary">
            <li>
                <h3 class="fab-h6">Email Sign Up</h3>
                <form method="get" action="https://www.victoriassecret.com/CustomerService/SignUp/SignUpForEmail" novalidate>
                    <fieldset>
                    	<span class="fab-input-text"><input type="email" name="email" ></span><button class="fab-ico--arrow-right" type="submit"></button>
                    </fieldset>
                    Get special offers & more!
                </form>
            <li>
                <ul>
                    <li><a name="FOOTER: SHOP GIFT CARDS" class="giftCards" href="https://www.victoriassecret.com/gifts/gift-cards" manual_cm_sp="VS-_-FooterLink-_-giftcards"><em class="fab-ico--giftcard-before"></em>Shop Gift Cards</a>
                    </li><li><a name="FOOTER: FIND A STORE" class="findStore" href="https://www.victoriassecret.com/store-locator" manual_cm_sp="VS-_-FooterLink-_-storelocator"><em class="fab-ico--findstore-before"></em>Find a Store</a>
                </li><li><a name="FOOTER: SHOP CATALOGUES" class="shopCatalogue" href="https://www.victoriassecret.com/catalogue/" manual_cm_sp="VS-_-FooterLink-_-catalogueshop"><em class="fab-ico--catalogue-before"></em>Shop Catalogues</a></li>
                </ul>
            
            <li>
                
                
                
                <h3 class="fab-h6">Connect with VS</h3>
                <ul class="social">
                    <li>
                        <a name="FOOTER: FACEBOOK SOCIAL SHARE" href="https://www.facebook.com/victoriassecret" title="Facebook" target="_blank" manual_cm_sp="VS-_-FooterLink-_-facebook"><em class="fab-ico--fb-white"></em></a>
                        <a name="FOOTER: TWITTER SOCIAL SHARE" href="https://twitter.com/victoriassecret" title="Twitter" target="_blank" manual_cm_sp="VS-_-FooterLink-_-twitter"><em class="fab-ico--twitter-white"></em></a>
                        <a name="FOOTER: YOUTUBE SOCIAL SHARE" href="https://www.youtube.com/victoriassecret" title="YouTube" target="_blank" manual_cm_sp="VS-_-FooterLink-_-youtube"><em class="fab-ico--youtube-white"></em></a>
                        <a name="FOOTER: PINTEREST SOCIAL SHARE" href="https://pinterest.com/victoriassecret" title="Pinterest" target="_blank" manual_cm_sp="VS-_-FooterLink-_-pinterest"><em class="fab-ico--pinterest-white"></em></a>
                        <a name="FOOTER: INSTAGRAM SOCIAL SHARE" href="https://instagram.com/victoriassecret" title="Instagram" target="_blank" manual_cm_sp="VS-_-FooterLink-_-instagram"><em class="fab-ico--instagram-white"></em></a>
                        <a name="FOOTER: VS AllAccess" href="/vsallaccess" title="VSAllAccess" manual_cm_sp="VS-_-FooterLink-_-vsallaccess"><em class="fab-ico--vsallaccess"></em></a>
                    </li></ul>
                
                
            
        </ul>
        
        <ul class="menu last">
            <li>
                <ul>
                    
                        
                                                                
                            <li><a name="FOOTER: SITE MAP" href="https://www.victoriassecret.com/site-map/" manual_cm_sp="VS-_-FooterLink-_-sitemap">Site Map</a>
                            <li><a name="FOOTER: SITE TERMS & NOTICES" href="https://www.victoriassecret.com/site-terms-and-notices/" data-modal="small" manual_cm_sp="VS-_-FooterLink-_-siteterms">Site Terms & Notices</a>
                            <li><a name="FOOTER: PRIVACY & SECURITY" href="https://www.victoriassecret.com/privacy-and-security/" data-modal="small" manual_cm_sp="VS-_-FooterLink-_-privacyandsecurity">Privacy & Security</a>
                            <li><a name="FOOTER: CALIFORNIA PRIVACY" manual_cm_sp="VS-_-FooterLink-_-californiaprivacy" href="https://www.victoriassecret.com/california-privacy-policy/" data-modal="small">California Privacy</a>
                            <li><a name="FOOTER: AD TECHNOLOGY" href="https://www.victoriassecret.com/privacy-and-security?brand=&overlayType=small#adtechnology" manual_cm_sp="VS-_-FooterLink-_-adtechnology" itemprop="url" data-modal="small">Ad Technology</a>
                            <li><a name="FOOTER: CAREERS" manual_cm_sp="VS-_-FooterLink-_-careers" href="https://www.victoriassecret.com/careers">Careers</a>
                            <li><a name="FOOTER: SSL SECURE CHECKOUT" href="https://www.victoriassecret.com/privacy-and-security/#security" data-modal="small" manual_cm_sp="VS-_-FooterLink-_-securecheckout">SSL Secure Checkout</a>
                            
                    
                </ul>
            <li>
                <ul>
                    <li>&copy; 2015 Victoria&#39;s Secret. All Rights Reserved.
                </ul>
        </ul>
    </nav>
</footer>