<header class="smoNavCondensedState gfoc">
    <section>
        <nav>
            <ul class="fab-brandtabs">
	<li>
	<a class="logo-vs" name="HEADER: VS TAB" manual_cm_sp="VS-_-Link-_-Tab" href="https://www.victoriassecret.com/" title="Victoria&#39;s Secret"><em class="vstab"></em></a>
	<li>
	<a class="logo-vs" name="HEADER: PINK TAB" manual_cm_sp="PINK-_-Link-_-Tab" href="https://www.victoriassecret.com/pink" title="PINK"><em class="pinktab"></em></a>
            </ul>

	<div class="majorityOffer">
					<a name="TOP NAVIGATION: FEATURE" class="bannertop f37x226 " data-modal='small'  
						href="/popups/1267546039891" itemprop="url" title="Last Day! Free Shipping on $50. Priced in USD. Code SHIP50. Click for details.">
		<span>
			<em></em>
			
			 
			
			<img
				src="//dm.victoriassecret.com/imagefeatures/226x37/1267548339468/092815-LTOs-globalnav.png"
				alt="Last Day! Free Shipping on $50. Priced in USD. Code SHIP50. Click for details." title="Last Day! Free Shipping on $50. Priced in USD. Code SHIP50. Click for details." itemprop="image" class="ftr ">
		</span>
				</a>
    </div>
            <ul class="fab-nav-utility">
                
                    
                        <li>
                            <ul class="dropDown" data-list-id="angelCardOptions">
                                <li>
                                    <h3>
                                        <a name="HEADER: ANGEL CARD" class="first fab-ico--angel-card-before fab-ico--arrow-down-white-after" manual_cm_sp="VS-_-Link-_-AngelCard" title="angel card" href="https://www.victoriassecret.com/angel-card"><em></em><strong class="black-bar-icon-label">Angel Card</strong></a>
                                    </h3>
                            </ul>
                            <div id="angelCardOptions" class="dropDownList dropdown toggleList">
                                <ul>
                                    <li>
                                        <a name="HEADER:ANGEL CARD - Manage Account" href="https://c.comenity.net/victoriassecret/" manual_cm_sp="VS-_-Link-_-AngelCard" title="Angel Card">Pay My Bill</a>
                                    <li><a name="HEADER:ANGEL CARD - Card Benefits"
                                        href="https://www.victoriassecret.com/angel-card-benefits" manual_cm_sp="VS-_-Link-_-AngelCard" title="Angel Card">Card Benefits</a>
                                    <li><a name="HEADER:ANGEL CARD - Apply Now"
                                        href="https://onlineaccess2.mycreditcard.cc/victoriassecret?Action=ApplyOnline.jsp" manual_cm_sp="VS-_-Link-_-AngelCard" title="Angel Card">Apply Now</a>
                                </ul>
                            </div>                
                <li>
                                    <a name="HEADER: ACCOUNT" href="https://www.victoriassecret.com/secureoverlay/wrapper/medium/account/signin/overlay/show" title="account" class="overlay fab-ico--account-before" data-overlay="medium" manual_cm_sp="VS-_-HeaderLink-_-accountsignin"><strong class="black-bar-icon-label">Account</strong><em></em></a>
                <li>
                        <ul class="dropDown" data-list-id="helpOptions">
                    
                    
                        <li>
                            <h3>
                                    <a tabindex="0" class="fab-ico--help-before fab-ico--arrow-down-white-after"><em></em><strong class="black-bar-icon-label">Help</strong></a>
                            </h3>
                    </ul>
                        <div id="helpOptions" class="dropDownList dropdown toggleList">
                            <ul>
                                <li><a name="HEADER" data-cm="CUSTOMER SERVICE HEADER:MORE HELP" href="https://www.victoriassecret.com/contact" title="Customer Service" tabindex="0">Customer Service</a>
                                <li><a id="headerLiveChat" name="HEADER: LIVE CHAT" rel="nofollow"
                                       data-cm="CUSTOMER SERVICE HEADER:LIVE CHAT" manual_cm_sp="VS-_-HeaderLink-_-livechat" data-queue-id="7" data-page-id="HOME PAGE " tabindex="0"> <em></em> Live Chat</a>
                                    
                                <li><span tabindex="0">1.800.411.5116</span>
                                    
                            </ul>
                        </div>
                                
                            



                <li>
                    <a name="HEADER: LOVE LIST" id="lovelist" manual_cm_sp="VS-_-HeaderLink-_-lovelist" href="https://www.victoriassecret.com/lovelist/view" title="love list" class="fab-ico--lovelist-before">

                        <strong class="black-bar-icon-label">Love List</strong>
                        <span class="loveListCount">0</span>
                        <em></em>
                    </a>
                <li>
                    <a name="HEADER: BAG" id="bag" manual_cm_sp="VS-_-HeaderLink-_-shoppingbag"
                       href="https://www.victoriassecret.com/commerce2/checkout" title="shopping bag" class="fab-ico--bag-before">
                       <span>1</span>
                       <em></em>
                    </a>
            </ul>
        </nav>
    </section>
    <div class="flyoutWrapper">
        <div id="bagFlyout"></div>
    </div>
    <div>
        <form name="searchForm" method="get"
              action="https://sp10048b28.guided.ss-omtrdc.net/">
            <fieldset>
	            	<span class="fab-input-search">
	                   <input id="search" class="autoComplete" data-ac-message='search autocomplete' type="text" name="q" placeholder="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Search" autocomplete="off" value="" />
                        <input class="primary" type="submit" value="" />
	               </span>
                
                    
                    
                        <input type="hidden" name="theme" id="inputTheme" value="vs" />
                    
                
            </fieldset>
            <button type="button" class="hello-angel">Hello Angel</button>
        </form>

        
            
            
                <span id="logo" class="fab-ico--logo"> <a name="HEADER" manual_cm_sp="VS-_-NavLink-_-vsnavbigfont"
                    href="https://www.victoriassecret.com" title="Victoria&#39;s Secret"></a>
                </span>
            
        

        <!-- testing gfoc switch -->


        
            <div class="links-international currency">
                <a name="HEADER: INTERNATIONAL SHIPPING"
                    href="https://www.victoriassecret.com/gfoc/overlay"
                    data-modal="medium" manual_cm_sp="VS-_-HeaderLink-_-selectedcurrency"
                    title="Currency">USD</a>
                <a name="HEADER: INTERNATIONAL CURRENCY"
                    href="https://www.victoriassecret.com/gfoc/overlay"
                    data-modal="medium" manual_cm_sp="VS-_-HeaderLink-_-selectedshipping"
                    title="Shipping">Ship To <span class="flag US dims"></span></a>
                <div id="smart-alert" class="alert-prong">
                    <div id="smart-alert-close"></div>
                    <p>Not shipping to ?</p>
                    <a href="https://www.victoriassecret.com/gfoc/overlay"
                        data-modal="medium"
                        title="International Alert">Change country.</a>
                </div>
            </div>
    </div>
</header>