<div class="angel-overlay"></div>

<section class="helloangel">
	<button type="button" class="close-angel">Close Hello Angel</button>
	<h2>Hello, Angel</h2>
	<p>What can I help you find today?</p>

	<div id="info">
		<p id="info_start">Click on the microphone icon and begin speaking.</p>
		<p id="info_speak_now">Speak now.</p>
		<p id="info_no_speech">No speech was detected. You may need to adjust your
		<a href="//support.google.com/chrome/bin/answer.py?hl=en&amp;answer=1407892">
		microphone settings</a>.</p>
		<p id="info_no_microphone" style="display:none">
		No microphone was found. Ensure that a microphone is installed and that
		<a href="//support.google.com/chrome/bin/answer.py?hl=en&amp;answer=1407892">
		microphone settings</a> are configured correctly.</p>
		<p id="info_allow">Click the "Allow" button above to enable your microphone.</p>
		<p id="info_denied">Permission to use microphone was denied.</p>
		<p id="info_blocked">Permission to use microphone is blocked. To change,
		go to chrome://settings/contentExceptions#media-stream</p>
		<p id="info_upgrade">Web Speech API is not supported by this browser. Upgrade to <a href="//www.google.com/chrome">Chrome</a> version 25 or later.</p>
	</div>

	<button type="button" id="start_button" class="angel-listen">Start Listening</button>
	<img id="start_img" src="images/mic.gif" alt="Start"></button>
	<p class="disclaimer">Click button or press the space bar to begin.</p>
</section>