<section class="angel-results">
	<div id="results">
		<span id="final_span" class="final"></span>
		<span id="interim_span" class="interim"></span>
	</div>
	<div class="center">
		<div id="product_options" class="hide">
			<h2>Filters</h2>
			<select id="select_brand" size="4" multiple>
				<option value="victoria secret">Victoria Secret</option>
				<option value="pink">Pink</option>
			</select>
			<select id="select_category" size="4" multiple>
				<option value="bras">Bras</option>
				<option value="swim">Swim</option>
				<option value="sport">Sport</option>
				<option value="college">College & Pro</option>
			</select>
			<select id="select_color" size="4" multiple>
				<option value="pink">Pink</option>
				<option value="blue">Blue</option>
				<option value="green">Green</option>
			</select>
			<select id="select_sort" size="4">
				<option data-value="price" data-sort="asc" value="Price low to high">Price low to high</option>
				<option data-value="price" data-sort="desc" value="Price high to low">Price high to low</option>
				<option data-value="rating" data-sort="desc" value="Top rated">Top rated</option>
			</select>
		</div>
	</div>

	<p id="searchText"></p>
	<div id="angelsearchresults"></div>
	<div id="results">
		<span id="final_span" class="final"></span>
		<span id="interim_span" class="interim"></span>
	</div>
</section>