<!doctype html>
<html class="home {{#if data.desktop}}desktop{{else}}mobile{{/if}} allAtOnceDropDownNav offerSpotlight" lang="en-us" dir="ltr" itemscope itemtype="http://schema.org/WebPage" data-asset-build="build/e0e1e642b7e85a9a855f005ae19e7f533273ffc2" data-asset-server="dm.victoriassecret.com" data-device-size="medium">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<title>Victoria's Secret: The Sexiest Bras, Lingerie & Women's Fashion</title>


	<!-- temp fix for ie8 going into compatibility view -->
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">

	<!--[if lte IE 9]>
	    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	    <script src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
	<![endif]-->

    {{#if data.desktop}}
        <link rel="stylesheet" type="text/css" href="https://dm-test-005.lbidts.com/resources/build/43984432f78c2e112969a6b8ba3fd5cc0ec29586/style/wrapper.css">
        <link rel="stylesheet" type="text/css" href="https://dm-test-005.lbidts.com/resources/build/43984432f78c2e112969a6b8ba3fd5cc0ec29586/style/home.css">
    {{else}}
        <link rel="stylesheet" type="text/css" href="https://dm-test-005.lbidts.com/resources/build/43984432f78c2e112969a6b8ba3fd5cc0ec29586/mobile/style/global.T28CDEF.css">
        <link rel="stylesheet" type="text/css" href="https://dm-test-005.lbidts.com/resources/build/43984432f78c2e112969a6b8ba3fd5cc0ec29586/mobile/style/home.css">
    {{/if}}

	<link rel="stylesheet" href="/assets/styles/main.css">
</head>
<body class="fabric">
	{{>helloangel}}

	{{#if data.desktop}}
		{{>header}}
		{{>nav}}
	{{else}}
		<div id="viewport">
	{{/if}}
	
    {{>helloangel-results}}
	{% body %}

	{{#if data.desktop}}
		{{>footer}}
	{{else}}
		{{>mobile-footer}}
		</div>
	{{/if}}
	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTjTNYfhhGs7qqwMAWGG2NOqs0rpPrPTU"></script>

    <script src="/assets/scripts/storeData.js"></script>
    <script src="/assets/scripts/productData.js"></script>
    <script src="/assets/scripts/init.js"></script>

    <script src="/assets/scripts/directionsToStore.js"></script>
	<script src="/assets/scripts/map.js"></script>
    <script src="/assets/scripts/products.js"></script>
    <script src="/assets/scripts/Store.js"></script>
    <script src="/assets/scripts/weather.js"></script>
    <script src="/assets/scripts/main.js"></script>
</body>
</html>
